.searchbar {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: 15px;
  padding: 10px 10px 10px 32px;
  margin-top: 36px;
}

.input-container {
  width: 100%;
}

.searchbar-input {
  width: 100%;
  height: 48px;
  font-size: 1.125rem;
  color: var(--text-color);
  background: none;
  margin-left: 24px;
  border: none;
  outline: none;
}

.searchbar-input:hover {
  cursor: pointer;
}

.searchbar-button {
  margin-left: 10px;
}

.mobile-search-icon {
  display: none;
}

@media screen and (max-width: 480px) {
  .searchbar {
    padding: 7px 7px 7px 16px;
  }

  .searchbar-input {
    font-size: 0.8125rem;
    margin-left: 9px;
  }

  .searchbar-button {
    margin-left: 7px;
  }

  .mobile-search-icon {
    display: flex;
  }

  .desktop-search-icon {
    display: none;
  }
}
