/* Globale CSS-Variables and Styles */
:root {
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --accent-color: hsl(212, 100%, 50%);
  --button-text-color: hsl(0, 0%, 100%);
  --bg-primary: hsl(220, 40%, 13%);
  --bg-secondary: hsl(222, 41%, 20%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-full: hsl(0, 0%, 100%);
  --text-color-aside: hsl(0, 0%, 50%);  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: hsl(227, 100%, 98%);
    --bg-secondary: hsl(0, 0%, 100%);
    --text-color: hsl(217, 35%, 45%);
    --text-color-full: hsl(217, 21%, 21%);
    --text-color-aside: hsl(217, 35%, 20%);
  }
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-primary);
}
